header a{
}

header{
	background: #800000;
	color: #fff;
	padding: 15px 20px;
	font-size: 30px;
}
body{
	font-family: times;
	margin: 150;
	background: #FFFFFF;
}
.main {
	margin-top: 30px;
}
.form-group{
	clear: both;

}
.form-group label{
	display: block;
	padding: 200px 100;
	float: justify;
	width: 30%
	font-weight: bold;
}
.form-group .input{
	display: block;
	width: 50%;
	float: left;
}
input[type=radio]{
	width: 50px
}
.form-group input[type=submit]{
	background-color: #800000;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
	margin: 8px 0;
}
